<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAEeuO0ook6RDCNLlhexhZG33VGnycaZUU</string>
	<key>GCM_SENDER_ID</key>
	<string>15406546807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecoCleanMobileApp</string>
	<key>PROJECT_ID</key>
	<string>eco-clean-b0119</string>
	<key>STORAGE_BUCKET</key>
	<string>eco-clean-b0119.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15406546807:ios:2d91dd06e1b2663bf3ab72</string>
	<key>DATABASE_URL</key>
	<string>https://eco-clean-b0119-default-rtdb.firebaseio.com</string>
</dict>
</plist>